@charset "utf-8";

@import url("reset.css");
@import url("slick.css");

/* ####################### layout ####################### */
body{background: #222;}

.ex_header{position: fixed; left: 0; right: 0; top: 0; padding: 30px 0 0; height: 80px; background: rgba(0, 0, 0, 0.3); transition: all .25s linear; text-align: center; z-index: 200;}
.ex_header.scroll{background: rgba(0, 0, 0, 1); transition: all .1s linear;}
.ex_header h1 > a{position: relative; padding: 0 20px; color: #ccc;}
.ex_header h1 > a:first-of-type::after{position: absolute; top: 50%; right: -3px; display: block; content: ""; width: 2px; height: 10px; transform: translateY(-50%); background: #ccc;}
.ex_header h1 > a.atv{font-weight: 700; color: #fff;}

.ex_footer{padding: 50px; border-top: 1px solid #666; font-weight: 300; font-size: 0.875rem; color: #777; text-align: center;}

.ex_container{position: relative; margin: 0 auto; padding: 100px 30px 0 300px; min-width: 1200px; z-index: 100;}

.ex_nav{position: fixed; left: 0; top: 70px; padding: 0 30px; width: 300px; height: calc(100% - 100px);}

.ex_menu li{border-bottom: 1px solid #666; font-size: 0.875rem; line-height: 1.5; color: #777;}
.ex_menu li a{display: block; padding: 5px 0; color: #777;}
.ex_menu li a:hover, .ex_menu li a.atv{color: #fff;}
.ex_menu li ul{padding: 0 0 0 15px; border-top: 1px solid #666;}
.ex_menu li ul > li{padding: 5px 0; border-bottom: 1px dotted #666; cursor: default;}
.ex_menu li ul > li:last-of-type{border: 0;}

.ex_contents{position: relative; padding: 0 0 50px;}
.ex_contents > section{margin: 0 0 20px; background: #fff; color: #222;}
.ex_contents > section::after{display: block; clear: both; content: "";}
.ex_contents > section h3{padding: 15px 20px; border-bottom: 1px solid #666; font-weight: 700; font-size: 1.125rem;}
.ex_contents > section h4{margin: 0 0 15px;}
.ex_contents > section h4 span{display: inline-block; padding: 5px 10px; background: #dddfe1; font-weight: 700;}
.ex_contents > section .ex_inner{padding: 20px; font-size: 0.875rem;}
.ex_contents > section .ex_inner.floating{float: left; width: calc(100% / 3);}
.ex_contents > section .ex_inner.floating2{float: left; width: 50%;}


/* ####################### contents ####################### */
.go_top{position: fixed; right: 0; bottom: 20px; transition-duration: .3s;}
.go_top.btm{bottom: 130px;}
.go_top .btn{width: 50px; height: 50px; background: rgba(252, 43, 43, 0.7); border-radius: 5px; font-weight: 700; color: #fff;}
.go_top:hover .btn{background: #fc2b2b;}


.field_wrap{}
.field_wrap .box{position: relative; margin: 0 0 10px;}
.field_wrap .box.guide{margin: 0 0 20px;}
.field_wrap .box::after{display: block; clear: both; content: "";}
.field_wrap .box:last-of-type{margin: 0;}
.field_wrap .box .label_txt{display: block; margin: 0 0 10px;}
.field_wrap .box input,
.field_wrap .box select{margin: 0 0 10px;}
.field_wrap .box .warning{font-weight: 300; font-size: 0.8125rem; line-height: 1.1; color: #fc2b2b;}
.field_wrap .box .warning + .note{padding: 15px 0 0 5px;}
.field_wrap .box .note{padding: 0 0 0 5px; font-weight: 300; font-size: 0.8125rem; line-height: 1.54; text-indent: -5px; color: #999;}
.field_wrap .box .dash{float: left; width: 16.6%; text-align: center;}
.field_wrap .box .dash em{display: inline-block; margin: 20px 0 0; width: 8px; height: 1px; background: #999; vertical-align: top;}
.field_wrap .box.with_btn{padding: 0 74px 0 0;}
.field_wrap .box.addr01{margin: 0;}
.field_wrap .box.num_two{}
.field_wrap .box.num_two > input{float: left; width: 41.7%;}
.field_wrap .box.num_three{}
.field_wrap .box.num_three > input{float: left; margin: 0 0 10px 3.7%; width: 30.86%;}
.field_wrap .box.num_three > input:nth-child(2){margin: 0 0 10px;}
.field_wrap .box.file{}
.field_wrap .box.file .file_name{position: relative; z-index: 10;}
.field_wrap .box.file .file_select{position: absolute; left: 0; bottom: 10px; padding: 0 74px 0 15px; width: 100%; height: 46px; opacity: 0; filter: alpha(opacity=0); cursor: pointer; z-index: 20;}
.field_wrap .box.file .btn_file,
.field_wrap .box.file .btn_gray{z-index: 10;}

.field_wrap .radio_box{position: relative; display: inline-block; margin: 0 0 0 30px;}
.field_wrap .radio_box:first-of-type{margin: 0;}
.field_wrap .radio_box input[type=radio]{visibility: hidden; position: absolute; left: 0; top: 0;  width: 0; height: 0; opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;}
.field_wrap .radio_box input[type=radio] + label{display: inline-block; padding: 0 0 0 35px; height: 24px; background: url("../img/bg_radio_off.png") no-repeat 0 50%; background-size: 24px; line-height: 24px; cursor: pointer;}
.field_wrap .radio_box input[type=radio]:checked + label{background-image: url("../img/bg_radio_on.png");}
.field_wrap .radio_box.type02{}
.field_wrap .radio_box.type02 input[type=radio] + label{padding: 0 35px 0 0; background-position: 100% 50%;}

.field_wrap .chk_box{position: relative; display: inline-block; margin: 0 0 0 30px;}
.field_wrap .chk_box:first-of-type{margin: 0;}
.field_wrap .chk_box input[type=checkbox]{visibility: hidden; position: absolute; left: 0; top: 0; width: 0; height: 0; opacity: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;}
.field_wrap .chk_box input[type=checkbox] + label{display: inline-block; padding: 0 0 0 35px; height: 22px; background: url("../img/bg_check_off.png") no-repeat 0 50%; background-size: 22px; line-height: 22px; cursor: pointer;}
.field_wrap .chk_box input[type=checkbox]:checked + label{background-image: url("../img/bg_check_on.png");}
.field_wrap .chk_box.type02{}
.field_wrap .chk_box.type02 input[type=checkbox] + label{padding: 0 35px 0 0; background-position: 100% 50%;}


.tbl_box{border-right: 1px solid #e3e3e3; border-bottom: 1px solid #e3e3e3; font-size: 0.8125rem; line-height: 1.54;}
.tbl_box table{}
.tbl_box thead th{padding: 10px 0 11px; border-top: 1px solid #e3e3e3; border-left: 1px solid #e3e3e3; background: #efefef; line-height: 1.1; color: #666;}
.tbl_box tbody th{padding: 10px 0 11px; border-top: 1px solid #e3e3e3; border-left: 1px solid #e3e3e3; background: #efefef; line-height: 1.1; color: #666;}
.tbl_box tbody td{padding: 7px 10px 8px; border-top: 1px solid #e3e3e3; border-left: 1px solid #e3e3e3; background: transparent;}


.tab_box{padding: 50px; font-size: 0.875rem; text-align: center;}
.tab_box .txt{margin: 0 0 20px; font-weight: 700; color: #f00;}
.tabs{text-align: center;}
.tabs::after{display: block; clear: both; content: "";}
.tabs > li{float: left; width: calc(100%/4 + 1px);}
.tabs > li:first-of-type{width: calc(100%/4);}
.tabs > li + li{margin-left: -1px;}
.tabs > li > a{position: relative; display: block; border: 1px solid #e3e3e3; color: #222; line-height: 40px;}
.tabs > li > a::before{position: absolute; left: -1px; top: -1px; content: ""; width: 100%; height: 100%; border: 1px solid #e3e3e3; border-bottom-width: 0; z-index: 10;}
.tabs > li.atv > a{border-bottom-color: #fff; font-weight: 700;}
.tabs > li.atv > a::after{position: absolute; left: -1px; top: -1px; display: block; content: ""; width: calc(100% + 2px); height: 3px; border-top: 3px solid #8acbff; z-index: 20;}
.tab_con{border: 1px solid #e3e3e3; border-top-width: 0; line-height: 50px; text-align: center;}
.tab_con .btn_link{line-height: 1.1;}


.accordion{padding: 0 30px 10px; line-height: 1.5; text-align: left;}
.accordion::after{display: block; clear: both; content: "";}
.accordion li{float: left; margin: 0 0 0 2%; width: 23%;}
.accordion li:first-of-type{margin: 0;}
.accordion li .title{border-bottom: 1px solid #e3e3e3;}
.accordion li .title .tit_txt{position: relative; padding: 10px; display: block;}
.accordion li .title .tit_txt::before,
.accordion li .title .tit_txt::after{position: absolute; right: 10px; top: 1.4em; display: block; content: ""; width: 12px; height: 2px; background: #222; transition: all .3s; transform: rotate(180);}
.accordion li .title .tit_txt::after{transform: rotate(90deg);}
.accordion li .desc{display: none; padding: 10px; background: #f8f8f8;}
.accordion li.atv .title{font-weight: 700;}
.accordion li.atv .title .tit_txt::before,
.accordion li.atv .title .tit_txt::after{transform: rotate(0);}
.accordion.faq03,
.accordion.faq04{padding: 0;}
.accordion.faq03 li,
.accordion.faq04 li{float: none; margin: 0; width: 100%;}


.paging{font-size: 0; text-align: center;}
.paging > *{position: relative; display: inline-block; margin: 0 0 0 -1px; padding: 0 15px; min-width: 34px; height: 34px; border: 1px solid #e3e3e3; font-size: 0.875rem; line-height: 32px; vertical-align: top;}
.paging a{}
.paging > strong{border-color: #999; font-weight: 700; z-index: 10;}
.paging .btn{padding: 0;}
.paging .btn:first-of-type{margin: 0 10px 0 0;}
.paging .btn:last-of-type{margin: 0 0 0 10px;}
.paging.m{}
.paging.m > *:not(.btn){border: 0;}
.paging.m .slash{padding: 0; min-width: auto;}


.btn_box{text-align: center;}
.btn_box *{vertical-align: top;}
.btn_box .btns{display: inline-block; width: 100%; height: 34px; background: #1c0883; font-weight: 700; color: #fff;}
/* half */
.btn_box.half{}
.btn_box.half::after{display: block; clear: both; content: "";}
.btn_box.half .btns{float: right; width: 48.6%;}
.btn_box.half .btns:first-of-type{float: left;}
.btn_box.half02{font-size: 0;}
.btn_box.half02 .btns{width: 50%; font-weight: 500;}
/* size */
.btns.sm{width: 112px; height: 34px; font-weight: 300; font-size: 0.8125rem;}
.btns.xs{width: 100px; height: 34px; font-weight: 300; font-size: 0.8125rem;}
.btns.xxs{width: 77px; height: 29px; font-weight: 300; font-size: 0.8125rem;}
/* type */
.btns.cancle{background: #dddfe1; color: #000;}
.btns.complete{background: #999; color: #000;}
.btns.complete02{background: #999;}
.btns.disabled{background: #dddfe1; color: #fff;}
.btns.sky{background: #fff; border: 1px solid #3983fe; color: #3983fe;}
.btns.white{border: 1px solid #c5c5c5; background: #fff; color: #000;}
.btns.xs.white{border-color: #dddfe1;}
.btns.srch_reset{padding: 0 0 0 30px; width: auto; height: 25px; background: transparent url("../img/btn_srch_reset.png") no-repeat 0 0; background-size: 25px; font-weight: 300; font-size: 0.8125rem; color: #000;}
.btns.more{background: transparent; border: 1px solid #8acbff; font-weight: 400; color: #666;}
.btns.more > span{display: inline-block; padding: 0 15px 0 0; background: url("../img/btn_more.png") no-repeat  100% 53%; background-size: 11px 10px;}
.btns.details{background: transparent; border-top: 1px solid #c5c5c5; font-weight: 400; color: #666;}
.btns.details > span{position: relative; display: inline-block; padding: 0 25px 0 0; }
.btns.details > span::after{position: absolute; right: 0; top: 50%; transform: translateY(-50%); display: block; content: ""; width: 16px; height: 16px; background: url("../img/btn_details.png") no-repeat  100% 50%; background-size: 100%;}
.btns.details.close > span::after{transform: translateY(-50%) rotate(180deg);}

/* not btn_box */
.btn_link{display: inline-block; margin: 0 10px 0 0; padding: 10px; border-radius: 2px; box-shadow: 0px 3px 5px 2px #bbb3b3;}
.btn_link:last-child{margin: 0;}
.btn_gray{position: absolute; right: 0; bottom: 10px; width: 64px; height: 40px; background: #999; font-size: 0.8125rem; color: #fff;}


.toast_box{visibility: hidden; position: fixed; left: 50%; bottom: 100px; transform: translateX(-50%); padding: 12px; min-width: 250px; background: #fff; box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.5); font-size: 0.9375rem; color: #000; text-align: center; z-index: 10000; opacity: 0.9;}
.toast_box.show{visibility: visible; 
	-webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
	animation: fadein 0.5s, fadeout 0.5s 2.5s;}
@keyframes fadein {
    0%{bottom: 0; opacity: 0;}
    70%{opacity: 1;}
    100%{bottom: 100px; opacity: .9;}
}
@keyframes fadeout {
    0%{bottom: 100px; opacity: 1;}
    100%{bottom: 0; opacity: 0;}
}


.curtain{position: fixed; left: 0; top: 0; width: 100%; height: 100%; min-height: 100%; background-color: rgba(0,0,0,0.4); z-index: 10000;}
.layer_wrap{display: none; overflow-y: auto; position:fixed; left:0; top:0; width:100%; height:100%; z-index:10010;}
.layer_wrap .layer{display: none; overflow-y: auto; position: absolute; top: 50.1%; left: calc(-50% + 60px); transform: translateY(-50.3%); margin-left: calc((100% - 60px) /2); width: calc(100% - 60px); max-height: 600px; background: #fff; box-shadow: 0px 3px 5px 2px rgba(0, 0, 0, 0.5); z-index:10020;}
.layer_wrap .layer .layer_title{height: 50px; line-height: 50px; border-bottom: 1px solid #e3e3e3; font-weight: 700; font-size: 1.0625rem; text-align: center;}
.layer_wrap .layer .layer_con{padding: 30px 20px; min-height: 200px; font-size: 0.875rem; line-height: 1.71;}
.layer_wrap .layer .layer_close{position: absolute; right: 20px; top: 20px; font-size: 0; line-height: 0;}
.layer_wrap .layer .layer_close > button{width: 16px; height: 16px; background: none; font-size: 0; line-height: 0; vertical-align: top;}
.layer_wrap .layer .layer_close > button > img{width: 100%;}


.slider{}
.slider .slide_wrap{position: relative;}
.slider .slide_box{padding: 0 50px 30px;}
.slider .slide_box .item{height: 100px; line-height: 90px; text-align: center;}
.slider .slick_arrow{position: absolute; top: 30%; padding: 10px 12px; z-index: 1;}
.slider .slick_arrow > img{width: 9px;}
.slider #slick_prev{left: 0;}
.slider #slick_next{right: 0;}
.slider .slick-dots{left: 0; bottom: 0;}
.slider .slick-dots li{margin: 0; width: auto;}
.slider .slick-dots li button{width: 20px;}
/* slider type01 */
.slider01 .slide_box .item{background: #eee;}
.slider01 .slide_box .item:nth-child(2){background: #ccc;}
.slider01 .slide_box .item:nth-child(3){background: #aaa;}
.slider01 .slide_box .item:nth-child(4){background: #888;}
.slider01 .slide_box .item:nth-child(5){background: #666; color: #fff;}
.slider01 .slide_box .item:nth-child(6){background: #444; color: #fff;}
.slider01 .slide_box .item:nth-child(7){background: #222; color: #fff;}
/* slider type02 */
.slider02 .slide_wrap{background: #eee;}
.slider02 .slide_wrap.type01{}
.slider02 .slide_wrap.type02{background: #bbb;}
.slider02 .slide_wrap.type03{background: #888;}
.slider02 .slide_wrap.type04{background: #555;}
.slider02 .slide_wrap.type05{background: #222;}
.slider02 .slide_box{padding: 30px 50px 50px;}
.slider02 .slide_box .item{background: #fff;}
.slider02 .slick-dots{bottom: 15px;}
/* slider type03 */
.slider03{font-family: "open sans", sans-serif;}
.slider03 .slick-dots{bottom: 3px; font-size: 0;}
.slider03 .slick-dots li{margin: 0 5px; height: auto;}
.slider03 .slick-dots li button{width: auto; height: auto; font-size: 14px; color: #999;}
.slider03 .slick-dots li button:before{top: 100%; width: 100%; height: 3px; content: ""; background: rgba(0, 0, 0, 0.2); opacity: 1;}
.slider03 .slick-dots li.slick-active button{color: #222;}
.slider03 .slick-dots li.slick-active button:before{}
.slider03 .slick-dots li.slick-active button:after{position: absolute; left: 0; top: 100%; display: block; width: 100%; height: 3px; content: ""; background: rgba(0, 0, 0, 0.8); animation: slider-progress;}
.slider03 .slide_box.s3000 ~ .slider_indicator .slick-dots li button:after{animation-duration: 3s;}
.slider03 .slide_box.s4000 ~ .slider_indicator .slick-dots li button:after{animation-duration: 4s;}
.slider03 .slide_box.s5000 ~ .slider_indicator .slick-dots li button:after{animation-duration: 5s;}
.slider03 .slider_btn_box{position: absolute; right: 0; bottom: 0; z-index: 10;}
.slider03 .slide_btn{width: 20px; height: 20px; background: #e3e3e3;}
.slider03 .slide_btn.btn_play{display: none;}
.slider03 .slider_indicator.paused .slick-dots li.slick-active button:after{animation-play-state: paused;}
@keyframes slider-progress{
	from{width: 0;}
	to{width: 100%;}
}


.fixed_btm{position: fixed; left: 50%; bottom: 0; padding: 12px 15px 10px; width: 700px; height: 40px; border: 1px solid #c5c5c5; border-radius: 15px 15px 0 0; background: #fff; box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.3); transform: translateX(-50%); transition: all .3s;}
.fixed_btm .btn_fixed_btm{position: absolute; right: 15px; top: 10px; width: 20px; height: 20px;}
.fixed_btm .btn_fixed_btm::before,
.fixed_btm .btn_fixed_btm::after{position: absolute; left: 3px; top: 9px; display: block; content: ""; width: 15px; height: 2px; background: #222;}
.fixed_btm .btn_fixed_btm::after{transform: rotate(90deg); transition: all .3s;}
.fixed_btm.atv{height: 150px;}
.fixed_btm.atv .btn_fixed_btm::after{transform: rotate(0);}


.webfont{padding: 20px;}
.webfont h1{margin: 0 0 5px; font-weight: 700;}
.webfont h2{margin: 0 0 5px; padding: 10px 5px; background: #f1f1f1;}
.webfont .top{padding: 15px 0; margin: 0 0 20px; background: #f1f1f1; text-align: center;}
.webfont .fontsize span{line-height: 25px;}
.webfont .fontsize span > em{font-weight: bold;}
.webfont .fontsize span + button{margin: 0 0 0 10px;}
.webfont .fontsize button{display:inline-block; margin:0; padding:0; width: 30px; height: 25px; border: 1px solid #999; border-radius: 3px; background:none; line-height: 23px; cursor: pointer; vertical-align: top;}
.webfont .type{float: left; width: 32%; margin-left: 2%; line-height: 1.2;}
.webfont .type > .inner{margin: 0 0 20px;}
.webfont .type01{margin: 0;}
.webfont .fw100{font-weight: 100;}
.webfont .fw300{font-weight: 300;}
.webfont .fw400{font-weight: 400;}
.webfont .fw500{font-weight: 500;}
.webfont .fw600{font-weight: 600;}
.webfont .fw700{font-weight: 700;}
.webfont .fw800{font-weight: 800;}
.webfont .fw900{font-weight: 900;}


#gnb{overflow: hidden;}
.nav{margin: 0 0 30px; border-bottom: 1px solid #ddd;}
.nav ul{position: relative; margin: 0 auto; width: 800px;}
.nav ul::after{display: block; clear: both; content: "";}
.nav ul li a{display: block; line-height: 40px;}
.nav .depth01{position: relative; float: left; width: calc(100% / 4);}
.nav .depth01 > a{position: relative; margin: 0 10px; text-align: center;}
.nav .depth01 > a::after{position: absolute; left: 0; bottom: 0; display: block; content: ""; width: 100%; height: 4px; background: #1c0883; transform: scaleX(0); transform-origin: left bottom; transition: .3s ease-in-out;}
.nav .depth01.atv > a{font-weight: 700;}
.nav .depth01 > a.atv::after,
.nav .depth01.atv > a::after{transform: scaleX(1);}
.nav .depth01.atv .depth02{display: block;}
.nav .depth02{display: none; position: absolute; left: 0; top: 40px;}
.nav .depth02 > li{float: none; display: inline-block; width: auto; font-size: 0;}
.nav .depth02 > li > a{padding: 0 10px; font-size: 14px;}
.nav .depth02.atv{display: block !important;}
.nav .depth02.show{display: block;}


.location{font-size: 0;}
.location > span{position: relative; display: inline-block; padding: 0 0 0 16px; font-size: 0.875rem;}
.location > span::before{position: absolute; left: 8px; top: 6px; display: block; clear: both; content: ""; width: 1px; height: 10px; background: #1c0883;}
.location > span:first-of-type{padding: 0;}
.location > span:first-of-type::before{display: none;}
