@charset "utf-8";

/* pseudo element */
@mixin float_clear{display: block; clear: both; content: "";}//::after, clear
@mixin pseudo($l: null, $t: null, $r: null, $b: null, $w: null, $h: null, $z: null)
    {position: absolute; left: $l; top: $t; right: $r; bottom: $b; display: block; content: ""; width: $w; height: $h; z-index: $z}//::after
@mixin underline{@include pseudo($l: 0, $b: 0, $w: 100%, $h: 1px);}//::after, text-decoration:underline
@mixin dot{@include pseudo($l: 0, $t: 9px, $w: 4px, $h: 4px); background: #666;}//::before, dot
@mixin line{@include pseudo($l: 0, $t: 0, $w: 2px, $h: 100%); background: #3983fe;}//::before, line


/* font-family */
$noto: "Noto Sans KR", sans-serif;
$open: "Open Sans", sans-serif;


/* font-size */
$font10: 0.625rem;
$font11: 0.6875rem;
$font12: 0.75rem;
$font13: 0.8125rem;
$font14: 0.875rem;
$font15: 0.9375rem;
$font16: 1rem;
$font17: 1.0625rem;
$font18: 1.125rem;
$font20: 1.25rem;
$font25: 1.5625rem;
$font28: 1.75rem;


/* color */
$white: #fff;
$black: #222;
$gray: #777;
$lightgray: #c8c8c8;
$silver: #dddfe1;
$royal: #1c0883;
$sky: #8acbff;
$yellow: #ffb400;
$purple: #6c41ff;
$red: #fc2b2b;


/* border */
$border_dddfe1: 1px solid #dddfe1;
$border_e3e3e3: 1px solid #e3e3e3;
$border_f1f1f1: 1px solid #f1f1f1;
$border_666: 1px solid #666; 
$border_dotted_666: 1px dotted #666;
$border_222: 1px solid #222;